@mixin boton {
    border-radius: 2rem;
    padding: 1.6rem;
    font-size: 1.5rem;
    font-weight: 800;
    border: none;
}

.btn-num {
    @include boton;
    background-color: antiquewhite;

    &:hover {
        cursor: pointer;
        background-color: greenyellow;
    }
}

.btn-op {
    @include boton;
    background-color: cadetblue;

    &:hover {
        cursor: pointer;
        background-color: coral;
    }
}

.btn-igual {
    border-radius: 2rem;
    border: none;
    padding: 1.6rem 3.2rem;
    font-size: 1.5rem;
    font-weight: 800;
    background-color: crimson;
    color: antiquewhite;

    &:hover {
        cursor: pointer;
        background-color: darkorange;
    }
}

#operacion {
    text-align: end;
    width: 100%;
    font-size: 2.5rem;
    resize: none;
}

#total {
    text-align: end;
    width: 100%;
    font-size: 2rem;
    resize: none;
}

.btn-borra {
    @include boton();
    font-size: 1rem;
    background-color: red;

    &:hover {
        cursor: pointer;
        background-color: darkred;
    }
}

.btn-borraT {
    @include boton();
    font-size: 1rem;
    background-color: blue;

    &:hover {
        cursor: pointer;
        background-color: darkblue;
    }
}